*{ /**CSS pour tout*/
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    list-style-type: none;

}
html{ /**Fond de la page principale*/
    background: linear-gradient(180deg, #ECECF3 0%, #FFFFFF 100%);
    position: relative;

}
body {
    min-height: 100vh; /*Le body prend 100 % de la hauteur de la viewport */
    font-family: Arial, sans-serif;
    font-size: 100%;
}
body::-webkit-scrollbar{
    width : 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #C4C4C4;
}
body::-webkit-scrollbar-thumb{
    background: black;
}
h1{
    padding-top : 5%;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.25);

}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.bouton-blanc{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.02em;
    width: 40%;
    height: 50px;
    box-sizing: border-box;
    cursor:pointer;

    margin: 40px;
    margin-left: 335px;
}

.bouton-blanc:hover{
    transition: 1s ;
    background: #4F95DA;
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.clearfix{
    text-align: center;
    clear: both;
    float: none;
}
/**Les liens**/
a{
    text-decoration: none;
}
.menu a{
    color: #fff;
    display: inline-block;
    position: relative;
    text-transform:uppercase;
}
.menu a:after{
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.menu a:hover:after{
    width: 100%;
    left: 0;
}

footer a {
    color:black;
    background: linear-gradient(to right, #020024 0%, #030233 35%, #357EB7 65%, #4FB3D9 100%);

    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}
footer a:hover{
    background-position: -100%;
}
.text-center{
    text-align: center;
}


/**CSS pour la barre de navigation**/
nav{
    /* Blue gradient */
    background: linear-gradient(180deg, #4FB3D9 0%, #4BABD4 15.63%, #4299C8 48.96%, #357EB7 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    width: 5%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display:inline;
    padding:1%;
}


.text-right{
    text-align: right;
}


/**Page principale**/
.content-wrap{
    padding-bottom: 4rem;
}
.logo-accueil{
    padding-top:5% ;
    width: auto;
    height: auto;
}
.img-logo{
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto ;
}
.bouton-bleu{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-style: normal;
    width: 20%;
    height: 40px;
    font-size: 18px;
    line-height: 29px;
    color: #ECECF3;
    background: linear-gradient(180deg, #4FB3D9 0%, #3B7FB7 100%);
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    cursor:pointer;
}
.bouton-bleu:hover{
    color: lightsteelblue;
}

.p-accueil{
    color: #4299C8;
    font-weight: bolder;
    padding-top: 4%;
    padding-bottom: 1%;
}
.p-accueil2{
    color: black;
    font-weight: normal;
    padding-top: 1%;
    padding-bottom: 1%;
}
.p-accueil2 a{
    color: black;
    font-weight: normal;

}
.p-accueil2 a:hover{
    color:#4299C8;;
    font-weight: normal;

}

/** Connexion **/

.droite{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    padding-left: 150px;
}

.titre_connexion{

    /* header text */
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: black;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-input{
    background: #C4C4C4;
    border: 2px solid #000000;
    box-sizing: initial;
    border-radius: 10px;
}


.loginFemme{
    width: 40%;
    padding-left: 30px;
}

.fieldset-connexion{
    float:left; /* add this */
    padding:1% ;
    width : 45%;
    justify-content: space-between;
    line-height: 25px;
    border : none;
    border-radius: 10px;
    height: 300px;

}

.fieldset-connexion input{
    border-radius:10px;
    border: 2px solid #000000;
    background: linear-gradient(180deg, #ECECF3 0%, #FFFFFF 100%);
    padding-left: 10px;
    font-size: 15px;
    text-shadow:none;
    width : 240px;
    float : right;
    height : 40px;
    box-shadow:1px 1px rgba(0, 0, 0, 0.25); ;
}


/**inscription**/

.fieldset{
    float:left; /* add this */
    padding:1% ;
    width : 45%;
    justify-content: space-between;
    line-height: 25px;
    border : none;
    border-radius: 10px;
    height: 500px;

}

.fieldset input{
    border-radius:10px;
    border: 2px solid #000000;
    background: linear-gradient(180deg, #ECECF3 0%, #FFFFFF 100%);
    padding-left: 10px;
    font-size: 15px;
    text-shadow:none;
    width : 240px;
    float : right;
    height : 35px;
    box-shadow:1px 1px rgba(0, 0, 0, 0.25); ;
}

.span {
    text-align: right;
    float: right;
    align-items: center;
    justify-content: space-between;
}
.req-img{
    padding-top: 10px;
    width :15px;
    height: 15px;
}

.field{
    padding-bottom:12px;
    display: flex;
    justify-content: space-between;
}

.field input[type= "checkbox"]  {
    width :20px;
    height : 20px;
    border: 2px solid #000000;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow:1px 1px rgba(0, 0, 0, 0.25); ;
    cursor : pointer;
    padding: 10px;
}
.field input[type = "checkbox"]:checked{
    background: linear-gradient(180deg, #4FB3D9 0%, #3B7FB7 100%);
}
.cb-label{
    padding-left: 10%;
    width :400px;
    display :flex;
    float:left;
    text-align:left;
    padding-top : 1%;
}

.espacement-degeu{
    height: 100px;
}

.test:hover{
    color:#4299C8;
}

input[type="file"]{
    display: none;
}
.pp-img{
    width : 150px;
    height : 130px;
    cursor: pointer;
    padding-top: 20%;
    padding-bottom: 100px;
    padding-left : 200px;
}
/**Footer**/
footer{
    position:relative;
    bottom : 0;
    width:100%;
    height:4rem;
    text-align: center;
    align-content: center;
    padding-top: 10%;
}

footer a:hover{
    color:#4299C8;
}