*{ /**CSS pour tout*/
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    list-style-type: none;
    color: #030233;


}
html{ /**Fond de la page principale*/
    background: linear-gradient(180deg, #ECECF3 0%, #FFFFFF 100%);
    position: relative;

}
body {
    min-height: 100vh; /*Le body prend 100 % de la hauteur de la viewport */
    font-family: Arial, sans-serif;
    font-size: 100%;
    display: flex;
    flex-direction: column;
}
body::-webkit-scrollbar{
    width : 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #C4C4C4;
}
body::-webkit-scrollbar-thumb{
    background: black;
}
h1{
    padding-top : 5%;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.25);

}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
    vertical-align: center;
}

.container-no-padding{
    width: 80%;
    margin: 0 auto;
}
button.bouton-blanc{
    position: relative;
    filter: drop-shadow(4px 8px 8px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: -0.02em;
    width: 40%;
    height: 50px;
    box-sizing: border-box;
    cursor:pointer;
    margin-left :30%;
    margin-top: 2%;
    border: none;
    background: linear-gradient(180deg, #ECECF3 0%, #FFFFFF 100%);

}

.bouton-blanc:hover{
    transition: 1s ;
    background: linear-gradient(to top right, #020024 0%, #030233 35%, #357EB7 65%, #4FB3D9 100%);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.clearfix{
    text-align: center;
    clear: both;
    float: none;
}

#myCalendar{
    min-width :100%;
}
/**Les liens**/
a {
    text-decoration: none !important;
}
.menu ul a{
    color: #fff;
    display: inline-block;
    position: relative;
    text-transform:uppercase;
}
.menu ul a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.menu a:hover:after{
    width: 100%;
    left: 0;
    text-decoration: none !important;
}


.message-erreur a, .lien-liste .lien-p{
    color:black;
    background: linear-gradient(to right, #020024 0%, #030233 35%, #357EB7 65%, #4FB3D9 100%);

}

.message-erreur a, .lien-liste .lien-p {
    background-size: 205%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}


footer a:hover, .message-erreur a:hover, .lien-liste .lien-p:hover{
    -webkit-text-fill-color: transparent;
    background-position: -100%;
}
.text-center{
    text-align: center;
}


/**CSS pour la barre de navigation**/
nav{
    /* Blue gradient */
    background: linear-gradient(to top, #020024 0%,  #357EB7 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{

    width: 5%;
    float: left;
}
.logo:hover{
    text-decoration: none;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display:inline;
    padding:1%;
}


.text-right{
    text-align: right;
}


/**Page principale**/
.content-wrap{
    padding-bottom: 4rem;
}
.logo-accueil{
    padding-top:5% ;
    width: auto;
    height: auto;
}
.img-logo{
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto ;
}
.bouton-bleu {
    position: relative;
    margin-top:2%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-style: normal;
    width: auto;
    height: auto;
    font-size: 1rem;
    padding: 1%;
    color: #ECECF3;
    background: linear-gradient(to top right, #020024 0%,  #357EB7 70%, #4FB3D9 100%);
    border: 2px solid #030233;
    box-sizing: border-box;
    border-radius: 10px;
    cursor:pointer;
}
.bouton-bleu:hover{
    color:white;
}

.bouton-rouge{
    position: relative;
    margin-top:2%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-style: normal;
    width:250px;
    height : 40px;
    font-size: 1rem;
    padding: 1%;
    color: #ECECF3;
    background: linear-gradient(180deg, #fd5c63 0%, #960018 100%);
    border: 2px solid #030233;
    box-sizing: border-box;
    border-radius: 10px;
    cursor:pointer;
}
.bouton-rouge:hover{
    color:white;
}
.p-accueil{
    color: #030233;
    font-weight: bolder;
    padding-top: 4%;
    padding-bottom: 1%;
    font-size: 1.5rem;
}
.p-accueil2{
    color: black;
    font-weight: normal;
    padding-top: 1%;
    padding-bottom: 1%;
}
.p-accueil2 a{
    color: black;
    font-weight: normal;

}
.p-accueil2 a:hover{
    color:#357EB7;;
    font-weight: normal;
    text-decoration: underline;
}

/** Connexion **/

.droite{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    padding-left: 150px;
}

.titre_connexion{

    /* header text */
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #030233;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.box-input{
    background: #C4C4C4;
    border: 2px solid #030233;
    box-sizing: initial;
    border-radius: 10px;
}


.loginFemme{
    width: 40%;
    padding-left: 10%;
}



/**inscription**/
.fieldset-left{ float:left; /* add this */
    margin-top:15% ;
    margin-left : 5%;
    width : 45%;}

fieldset{
    justify-content: space-between;
    border : none;
    border-radius: 10px;
    height: auto;
    margin-left :8%;
    margin-right: 8%;
    display: flex;
    flex-direction: column;

}

fieldset input[type="text"], input[type="password"], input[type="date"], input[type="email"], input[type="tel"], input[type="checkbox"],  input[type="number"]{
    border-radius:10px;
    border: 2px solid #030233;
    background: linear-gradient(180deg, #ECECF3 0%, #FFFFFF 100%);
    padding-left: 10px;
    font-size: 15px;
    text-shadow:none;
    width : 360px;
    float : right;
    height : 40px;
    box-shadow:1px 1px rgba(0, 0, 0, 0.25);
}


.quantity {
    display: flex;
    width : 360px;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 40px;
    box-shadow:1px 1px rgba(0, 0, 0, 0.25);

    background: linear-gradient(180deg, #ECECF3 0%, #FFFFFF 100%);
    border: 2px solid #030233;
    border-radius:10px;

    cursor:pointer;}

.quantity.buttons_added .minus {
    border-right: 0;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius : 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius : 0;
}

.quantity input[type="number"]{
    border-left: none;
    border-right: none;
    border-radius: 0;
    text-align: center;
}
.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #ECECF3;}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }
.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none; }

fieldset input.desc{
    width: 360px;
    height : 120px;
}

.field label{
    font-size: 1.5rem;
}

.span {
    text-align: right;
    float: right;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}
.req-img{
    padding-top: 10px;
    width :15px;
    height: 15px;
}

.field{
    position:relative;
    padding-bottom:12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type= "checkbox"]  {
    width :20px;
    height : 20px;
    border: 2px solid #030233;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow:1px 1px rgba(0, 0, 0, 0.25); ;
    cursor : pointer;
    padding: 10px;
}
input[type = "checkbox"]:checked{
    background: linear-gradient(180deg, #357EB7 0%, #030233 100%);
}

.espacement-degeu{
    height: 100px;
}

.test:hover{
    color:#357EB7;
}

input[type="file"]{
    display: none;
}
.pp-img{
    width : 150px;
    height : 130px;
    cursor: pointer;
    position: relative;
    display: flex;
    padding-top: 20%;
    padding-bottom: 15%;

}
fieldset .field .input-pp{
    border:solid #030233 2px;
    border-radius: 500px;
    padding: 3% 5% 3% 5%;
    box-shadow:4px 2px 3px 2px rgba(0, 0, 0, 0.25); ;

    width:20%;
    height:auto;
    margin-left : 35%;
    margin-top: 2%; margin-bottom: 2%;
    position: relative;
    display: flex;
    justify-content: space-between;

}


.message-erreur {
    color:#020024;
    margin-top: 18%;
    text-align: center;
    line-height: 300%;
}
/** Evenement **/
.page-evenement{
    line-height : 40px;
    margin-top: 4%;
    height:auto;
}

.img-ev{
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.25); ;
    background: linear-gradient(180deg, #ECECF3 0%, #FFFFFF 300%);
    margin-top: 3%;
    margin-left: 2%;
    width: 20%;
    height: 300px;
    display: block;
    border-radius: 20px;
    margin-bottom:  3%;
    position:absolute;
 }

.labels-details-ev{
    position:relative;
    left: 32%;
    margin-top: 1%;
    display: flex;
    width: 60%;
    height: auto;
}

.alignement{
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    right: 10%;
}

.alignement-centre{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top : 3%;
}

button.margin-0{
    margin-top: 0;
    margin-left :0;
}

.filtres{
    appearance: auto;
    outline: 0;
    border: 0 !important;
    background: #F9F9F9;
    box-shadow: none;
    font-size: 1em;
    padding: 1%;
    border-radius : 10px;
}

.mes-evenements{
    display: block;
    align-items: baseline;
    vertical-align: center;

}

.mes-evenements label{
    padding:10px;

}
.mes-evenements input{
    padding: 5px;
}

.leftBouton{
    position: relative;
    right:5%;
    background-color: transparent;
}
.btn-supp {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.btn-supp-not {
    background-color: black;
    border: none;
    height: 40px;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 10px;
}

.rightBouton{
    width: 3%;
    position: relative;
    left: 5%;
}

.details-not {
    display: inline-block;
    margin-left: auto;
}


.content {
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify
}
.content-not {
    color: #4299C8;
}

.label-content-not{
    font-size: 125%;
}

.labels-details-not {
    position: relative;
    margin-top: 3%;
    display: flex;
    width: 60%;
    height: auto;
}


.details-ev {
    display: inline-block;
    margin-left: auto;
}
.info {
    padding-top: 3%;
    padding-left: 30% ;
}
.details-bg{
    height: 400px;
    display: block;
    background: linear-gradient(80deg, #ECECF3 0%, #FFFFFF 300%);
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.25); 
    border-radius: 10px;
}

.details-bg-not-contenu {
    height: 400px;
    display: block;
    background: linear-gradient(80deg, #ECECF3 0%, #FFFFFF 300%);
    box-shadow: 2px 2px 2px 2px #357EB7;
    border-radius: 10px;
}


.evenement {
    display:block;
    padding: 2%;
    justify-content : space-between;
    line-height: 30px;
    text-align: justify;
    text-justify: inter-word;
    background: linear-gradient(80deg, #ECECF3 0%, #FFFFFF 300%);
    overflow-y:scroll;
    height:20vh;
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.25); ;
    border-radius: 10px;
}
.evenement::-webkit-scrollbar{
    width : 0.25rem;
    border-radius: 30px;

}
.evenement::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 30px;

}
.evenement::-webkit-scrollbar-thumb{
    background: #030233;
    border-radius: 30px;

}

.lien-liste{
    width: 40%;
    text-align: center;
    background: linear-gradient(180deg, #ECECF3 0%, #FFFFFF 100%);
    border: solid black 2px;
    border-radius: 10px;
    box-shadow:4px 2px 3px 2px rgba(0, 0, 0, 0.25); ;
}


.lien-liste .lien-p:hover{
    width: 100%;
    left: 0;
    color:#4299C8;
}
.param-buttons{
    float:right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width :30%;
    height: 200px;
    align-content: center;
    align-self: center;
    margin-bottom:50px;
}
.param-buttons .bouton-bleu{
    width:250px;
    height : 40px;
}


/** menu dropdown pour les paramètres*/
.dropdown {
    position: relative;
    display: inline-block;
    height:auto;
    text-align: center;

}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(180deg, #ECECF3 0%, #FFFFFF 100%);
    border: solid #030233 2px;
    width:230px;
    z-index: 1;
    top: -30px;
    margin-left:3%;

}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background:  #ECECF3;
    display: block;
    border-radius: 2px;


}
.dropdown-content a.supp{
    color: #960018;
}

.dropdown-content a:hover {
    color:#357EB7;
    background:white;
}
.dropdown:hover .dropdown-content {display: block;}


.tabBesoin-div{
    display:flex;
    justify-content: space-around;
    float:left;
    width: 60%;
    position: relative;
    overflow-x: auto ;
    overflow-y: auto ;
    max-height : 300px;
    margin-bottom: 50px;
    margin-left:30px;
    background-color: #FFF;
    border-collapse: collapse;
    border-bottom: 2px solid #030233;
    cursor:default;
}
.tabBesoin-div{
    float: left;
}
tr:nth-child(even){
    background-color: #FFF;

}

.tabParticipants{
    width: 100%;
    margin-top: 5% ;
    table-layout: auto;
}
table {
    width: 100%;
    margin:  auto;
    table-layout: auto;
}
table, td{
    border-collapse: collapse;
    padding: 5px;
    min-width : 100px;
    box-sizing: border-box;

}
tr{
    border-bottom: none;
}

tr:last-child{
    border-bottom: none;
}
td{
    word-wrap: break-word;
    width: 200px;
    height: 40px;
    text-align: center;
    padding-left : 20px;
}
.tabBesoin-div td:hover{
    cursor:pointer;
}

.tabParticipants td:hover{
    cursor: default;
}
thead th{
    height: 40px;
    text-align: center;
    background-color: #030233;
    color: white;
}

.tabBesoin-div::-webkit-scrollbar{
    width : 0.25rem;
    height: 0.25rem;
    border-radius: 10px;

}
.tabBesoin-div::-webkit-scrollbar-track{
    background: #DBDBE5;
    border-radius: 10px;

}
.tabBesoin-div::-webkit-scrollbar-thumb{
    background: #030233;
    border-radius: 10px;

}
tr td:nth-child(1){
    padding-left: 10px;
    background-color: #DBDBE5;
    min-width : 180px;
    border-bottom: 1px solid #030233;


}

.tab-param{
    align-content: center;
    align-items: center;
    display:flex;
    justify-content: space-between;

}

.caption{
    background-color: #DBDBE5;
    color:#030233;
    font-size: 1.2rem;
    padding:1%;
}
.selected{
    background-color: #ECECF3;
    border-left: 1px solid #fd5c63 !important;
    border-right: 1px solid #fd5c63;
    border-collapse: collapse;
}

/**Footer**/
footer{
    position:relative;
    bottom : 0;
    width:100%;
    text-align: center;
    align-content: center;
    margin-top: auto;
    margin-bottom: 0;
    letter-spacing: 0.1rem;
    background: #030233;

}
footer a {
    background: linear-gradient(to right, #FFFFFF 0%, #21D4FD 50%, #DB81FF 100%);
    -webkit-text-fill-color: #ECECF3;
    background-size: 205%;
    -webkit-background-clip: text;
    transition: 0.5s ease-out;

}
footer p{
    margin:0;
    padding:0;
   color:#ECECF3;

}

footer a:hover{
    color:#4299C8;

}