*{
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    list-style-type: none;
}
html{
    background: linear-gradient(180deg, #ECECF3 0%, #FFFFFF 100%);

}
body {
    position: relative;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.clearfix{
    text-align: center;
    clear: both;
    float: none;
}
/**Les liens**/
a{
    color: white;
    text-decoration: none;
    justify-content: space-around;
}
a:hover{
    color: lightsteelblue;
}
.text-center{
    text-align: center;
}
/**CSS pour la barre de navigation**/
nav{
    /* Blue gradient */
    background: linear-gradient(180deg, #4FB3D9 0%, #4BABD4 15.63%, #4299C8 48.96%, #357EB7 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
    width: 5%;
    float: left;
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display:inline;
    padding:1%;
}


.text-right{
    text-align: right;
}


/**Page principale**/
.content-wrap{
    padding-bottom: 4rem;
}
.logo-accueil{
    padding-top:5% ;
    width: auto;
    height: auto;
}
.img-logo{
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto ;
}
.bouton-bleu{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-style: normal;
    width: 20%;
    height: 40px;
    font-size: 18px;
    line-height: 29px;
    color: #ECECF3;
    background: linear-gradient(180deg, #4FB3D9 0%, #3B7FB7 100%);
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    cursor:pointer;
}
.bouton-bleu:hover{
    color: lightsteelblue;
}

.p-accueil{
    color: #4299C8;
    font-weight: bolder;
    padding-top: 4%;
    padding-bottom: 1%;
}
.p-accueil2{
    color: black;
    font-weight: normal;
    padding-top: 1%;
    padding-bottom: 1%;
}
.p-accueil2 a{
    color: black;
    font-weight: normal;

}
.p-accueil2 a:hover{
    color:#4299C8;;
    font-weight: normal;

}

/** Connexion **/

.droite{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.titre_connexion{

    /* header text */
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;


    color: black;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-input{
    background: #C4C4C4;
    border: 2px solid #000000;
    box-sizing: initial;
    border-radius: 20px;
}


.bouton-bleu-connexion{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-style: normal;
    width: 10%;
    height: 20px;
    font-size: 18px;
    line-height: 29px;
    color: #ECECF3;
    background: linear-gradient(180deg, #4FB3D9 0%, #3B7FB7 100%);
    border: 2px solid #000000;
    border-radius: 20px;
    cursor:pointer;
}

.alignement{
    display: flex;
    justify-content: space-around;
    width: 450px;
}

.loginFemme{
    width: 30%;
}

/**Footer**/
footer{
    position: absolute;
    bottom : 0;
    width:100%;
    height:4rem;
    text-align: center;
}
footer a{
    color:black;
    text-decoration: none;
    cursor: pointer;
}

footer a:hover{
    color:#4299C8;
}